img {
    display: block;
    background-size: cover;
    background-position: 50%;
    height: 250px;
    width: 210px;
    margin: 8px 25px;
    border: 5px solid #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    cursor: pointer;
}
.card {
    background: white;
}
.card:hover {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate; 
}
@keyframes bgcolor {
    0% {
        background-color: #33a2a4
    }

    25% {
        background-color: #337ba4
    }

    50% {
        background-color: #334aa4
    }

    75% {
        background-color: #4233a4
    }

    100% {
        background-color: #5133a4
    }
}